
@import '~@alifd/theme-6516/dist/next.css';
@import './custom.less';

html, body, #root {
  width: 100%;
  height: 100%;
}

.full {
  width: 100%;
  height: 100%;
}

.hidden {
  overflow: hidden;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.mg-auto {
  margin: 0 auto;
}

.mt8 {
  margin-top: 8px;
}

.mt16 {
  margin-top: 16px;
}

.mt24 {
  margin-top: 24px;
}

.mr8 {
  margin-right: 8px;
}

.mr16 {
  margin-right: 16px;
}

.mr24 {
  margin-right: 24px;
}

.mb8 {
  margin-bottom: 8px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb24 {
  margin-bottom: 24px;
}

.ml8 {
  margin-left: 8px;
}

.ml16 {
  margin-left: 16px;
}

.ml24 {
  margin-left: 24px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-ellipsisl {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsisl
}

.clear-fix:after{
  content:" ";
  display:block;
  height:0;
  clear:both;
  visibility:hidden
}

.v-top {
  display: inline-block;
  vertical-align: top;
}

.v-middle {
  display: inline-block;
  vertical-align: middle;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.bg-light {
  background-color: #f8f8f8;
}

.bg-dark {
  background-color: #272C34;
}
